bouncycastle-api.jpi filter=lfs diff=lfs merge=lfs -text
jaxb.jpi filter=lfs diff=lfs merge=lfs -text
script-security.jpi filter=lfs diff=lfs merge=lfs -text
aws-java-sdk-minimal.jpi filter=lfs diff=lfs merge=lfs -text
aws-java-sdk2-ec2.jpi filter=lfs diff=lfs merge=lfs -text
credentials-binding.jpi filter=lfs diff=lfs merge=lfs -text
credentials.jpi filter=lfs diff=lfs merge=lfs -text
jackson2-api.jpi filter=lfs diff=lfs merge=lfs -text
json-api.jpi filter=lfs diff=lfs merge=lfs -text
plain-credentials.jpi filter=lfs diff=lfs merge=lfs -text
snakeyaml-api.jpi filter=lfs diff=lfs merge=lfs -text
ssh-credentials.jpi filter=lfs diff=lfs merge=lfs -text
structs.jpi filter=lfs diff=lfs merge=lfs -text
variant.jpi filter=lfs diff=lfs merge=lfs -text
workflow-step-api.jpi filter=lfs diff=lfs merge=lfs -text
apache-httpcomponents-client-4-api.jpi filter=lfs diff=lfs merge=lfs -text
caffeine-api.jpi filter=lfs diff=lfs merge=lfs -text
javax-activation-api.jpi filter=lfs diff=lfs merge=lfs -text
joda-time-api.jpi filter=lfs diff=lfs merge=lfs -text
aws-credentials.jpi filter=lfs diff=lfs merge=lfs -text
aws-java-sdk-ec2.jpi filter=lfs diff=lfs merge=lfs -text
aws-java-sdk.jpi filter=lfs diff=lfs merge=lfs -text
aws-java-sdk2-core.jpi filter=lfs diff=lfs merge=lfs -text
aws-sam.jpi filter=lfs diff=lfs merge=lfs -text
